<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hero{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50vh;
            background-color: #fc6838;
        }
        .hero h1{
            font-size: 2rem;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="hero">
        <h1>Thank you FOr registering Course</h1>
    </div>
    
</body>
</html>